html {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
}

.detail__container {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  position: relative;
  border-radius: 10px;
}

#background {
  width: 100%;
  height: 100vh;
  object-fit: fill;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

#background img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.detail__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 90%;
  padding: 0 40px;
}

.detail__left img {
  width: 90%;
}

.detail__right {
  overflow: scroll;
  width: 65%;
  height: 90%;
  padding: 0 50px 0 0;
}

.detail__title h2 {
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 700;
}

.detail__info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.detail__info span::after {
  padding-left: 5px;
  content: '•';
}

.detail__info span:last-child::after {
  content: '';
}

.detail__info span:last-child::before {
  padding-right: 5px;

  content: '•';
}

.detail__info b {
  font-weight: 400;
  margin: 0 5px;
  padding: 0 5px;
  background-color: rgba(95, 95, 95, 0.5);
  border-radius: 5px;
}

.detail__info span {
  padding: 0 5px;
}

.detail__info i {
  color: rgb(240, 185, 65);
  padding-right: 5px;
}

.detail__desc p {
  color: rgba(255, 255, 255, 0.7);
}

.detail__desc {
  margin: 45px 0;
}

.screen img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .detail__container {
    width: 90%;
  }
  .detail__left {
    display: none;
  }

  .detail__left img {
    padding: 50px 0;
    width: 30%;
  }

  .detail__right {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    width: 100%;
  }

  .detail__info {
    justify-content: center;
  }
}
